html { 
	margin-left: calc(100vw - 100%);
}

a, button {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.topper {
	position:relative;
	border-bottom: 0.05px solid lightgrey;
	border-bottom-width: fill;
}

.highlight {
	background-color: #D3EAF2;
}

.region-select {
	bottom:0px;
	right:0px;
	width: max-content;
	float: right;
}

.title {
	height:75px;
}

.photos {
	display: none;
	padding-top: 8%;
	padding-right: 10%;
	text-align: center;
}

.expand {
	color: black;
	padding: 2%;
	border: 1px solid #428bca;
	background-color:white;
}

.expand:hover {
	color: white;
	background-color: purple;
}

ul {
	list-style: none;
}

li {
	padding: 3%;
}

button {
	margin-bottom: 5%;
}

.total {
	height: min-content;
}

.info {
	position:relative;
}

.description {
	height: 75px;
}

.nightsnum {
	display: inline-block;
	right:0px;
	position: relative;
	padding-bottom:6%;
	vertical-align: top;
}

.total {
	display: inline-block;
	position:relative;
	left:5%;
	text-align: center;
}

.cashtotal {
	font-size:3em;
}

.modal-content {
	padding: 2% 5% 5% 5%;
}