<header>
<div class="walrusDiv">
	<pre class="walrus">
                 _ __
             .'. -- . '.        How may I help you?
            /U)  __   (O|
           /.'  ()()   '.\._
         .',/;,_.--._.;;) . '--..__
        /  ,///|.__.|.\\\  \ '.  '.''---..___
       /'._ '' ||  ||  '' _'\  :   \   '   . '.
      /        ||  ||        '.,    )   )   :  \
     :'-.__ _  ||  ||   _ __.' _\_ .'  '   '   ,)
     (          '  |'        ( __= ___..-._ ( (.\\
    ('\      .___ ___.      /'.___=          \.\.\
     \\\-..____________..-'' 

</pre>
</div>
<div class=newNav>
	<ul>
		<li style="padding-top:10%"><a href="/index.html">Home</a></li>
		<li style="padding-left:17%; padding-top:5%"><a href="/about.html">About</a></li>
		<li style="padding-left:22%; padding-top:5%"><a href="/portfolio.html">Portfolio</a></li>
		<li style="padding-left:31%; padding-top:5%"><a href="{{ site.baseurl }}/rss.xml">RSS</a>/<a href="{{ site.baseurl }}/atom.xml">Atom</a></li>
	</ul>
</div>
</header>